body{
    margin: 0;
    padding: 0;
    background-color:  hsl(240, 78%, 98%);
}
.bg-top img{
    top:0;
    margin-left:13rem;
    width: 300px;
    position: absolute;
}
.our-princing{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top:40px;
    position: relative;
}
span{
    color:hsl(240, 3%, 52%) ;
}
.bg-bottom{
    display: none;
}
.feature{
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width:18rem;
    height: 25rem;
    background: #fff;
    border-radius: .5rem;
    position: relative;
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
}
.feature-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#professional{
    background: hsl(237, 63%, 64%);
}
#professional a{
    background-color: #ffffff;
    color: hsl(237, 63%, 64%);
}
.anually{
    display: none;
}
.more{
    width: 15rem;
    padding: .75rem 1rem;
    background-color: hsl(237, 63%, 64%);
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: .5rem;
    text-decoration: none;
    text-align: center;
    margin: 2rem;
    font-size: 1rem;
    text-transform: uppercase;
}
h2{
    font-size: 3rem;
    padding: 0;
    margin: 0;
}
p {
    font-size: 20px;
    font-weight: 700;
    color:#1c1c21;
}
.attribution{
    margin-top: 5rem;
}
